{{#paper-toolbar}}
<h1>Xmas App</h1>
<div>
  {{#paper-button raised=true}}{{#link-to 'index'}}Home{{/link-to}}{{/paper-button}}
  {{#paper-button raised=true}}{{#link-to 'about'}}About{{/link-to}}{{/paper-button}}
  {{#paper-button raised=true}}{{#link-to 'events'}}Events{{/link-to}}{{/paper-button}}
  {{#paper-button raised=true}}{{#link-to 'canvas'}}Canvas{{/link-to}}{{/paper-button}}
  {{#paper-button raised=true}}{{#link-to 'animated-canvas'}}Animated-Canvas{{/link-to}}{{/paper-button}}
</div>
{{/paper-toolbar}}
{{outlet}}